%h2 
	Load Balancers
	- @balancers.each do |balancer|
		%h3
			= balancer.name
		%p
			%strong
				Cluster Name
			= balancer['normal']['elasticsearch']['cluster_name']
			%a{:href => "https://#{balancer.name}/elasticsearch-head" } elasticsearch-head
			%a{:href => "https://#{balancer.name}/bigdesk" } bigdesk

%h2
	Individual Nodes
	- @nodes.each do |node|
		%h3
			= node.name
		%p
			%strong
				Cluster Name
			= node['normal']['elasticsearch']['cluster_name']
